@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container d-flex flex-column justify-content-center align-items-center" style="height:597px">
    
    <div class="text-center mt-auto">
        <h1 class="display-1 text-warning"><strong><b>401</b></strong></h1>
        <h2 class="display-5">unauthorized error</h2>

      
    </div>

    <div class="text-center mt-auto">
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

    </div>


</div>






